.RectangleParent {
	position: relative;
	width: 80%;
	height: relative;
	left: 10%;
	top:20%;
	padding: 1% 0%;
	font-size: 18px;
	background: #1EC491;
	color: white;
}
.modal-main {
	position:fixed;
	background:white;
	width: 100%;
	height: auto;
	top:20%;
	left:50%;
	font-size:14px;
	transform: translate(-50%,-50%);
}

.Rectangle1 {
	position: relative;
	left: 10%;
	width: 80%;
	top:20%;
	background: #FAFAFA;
	border: 1px solid #E4E4E4;
	box-sizing: border-box;
	padding: 2%;
	color:black;
}

.Rectangle2{
	position: relative;
	left: 10%;
	width: 80%;
	top:20%;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	box-sizing: border-box;
	padding: 2%;
	color:black;
}
.disabled{
	background: black;
}
.downloadpoolingmatrix {
	background: #1EC491;
	border: 1px solid #1EC491;
	box-sizing: border-box;
	border-radius: 2px;
	font-size: 16px;
	padding: 3%;
	color: white;
}
.endbuttons {
	border: 1px solid #535353;
	box-sizing: border-box;
	border-radius: 2px;
	font-size: 16px;
	padding: 5% 15%;
	background: #ffffff;
	&:hover {
		color: #1EC491;
		border: 1px solid #1EC491;
	}
}
.normalbuttons {
	border: 1px solid #535353;
	box-sizing: border-box;
	border-radius: 2px;
	font-size: 16px;
	padding: 5% 15%;
	background: #ffffff;
	&:hover {
		color: #1EC491;
		border: 1px solid #1EC491;
	}
	&:focus {
		color: #1EC491;
		border: 1px solid #1EC491;
		display: inline-block;
	}
	.fa-check {
		position: relative;
		top: 5px;
		right: 10px;
		color: black;
		font-weight: normal;
	}
}
.close {
	background: #1EC491;
	color: white;
	font-weight: normal;
	border: 0px solid #1EC491;
	font-size: 36px;
	text-align: right;
}

.display-block {
	background: white;
	height:100%;
	display: block;
	top: 10%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;

}
.display-none {
	display: none;
}

