.RectangleParent {
	position: relative;
	width: 100;
	height: relative;
	left: 0%;
	top:20%;
	padding: 1% 2%;
	font-size: 18px;
	background: #1EC491;
	color: white;
}

.close {
	background: #1EC491;
	color: white;
	font-weight: bold;
	border: 0px solid #1EC491;
	font-size: 36px;
	text-align: right;
}


.Rectangle1 {
	position: relative;
	left: 0%;
	width: 100%;
	top:20%;
	background: #FAFAFA;
	border: 1px solid #E4E4E4;
	box-sizing: border-box;
	padding: 2%;
	color:black;
}

.Rectangle2{
	position: relative;
	left: 0%;
	width: 100%;
	top:20%;
	background: #FAFAFA;
	border: 1px solid #E4E4E4;
	box-sizing: border-box;
	padding: 2%;
	color:black;
}

.downloadpoolingmatrix {
	background: #1EC491;
	border: 1px solid #1EC491;
	box-sizing: border-box;
	border-radius: 2px;
	font-size: 16px;
	padding: 3%;
	color: white;
}
.downloadpoolingmatrix:disabled,
.downloadpoolingmatrix[disabled] {
	border: 1px solid #999999;
	background: #cccccc;
	color: #666666;
}
.endbuttons {
	border: 1px solid #535353;
	box-sizing: border-box;
	border-radius: 2px;
	font-size: 16px;
	padding:0px;
	background: #ffffff;
	&:hover {
		color: #1EC491;
		border: 1px solid #1EC491;
	}
}
