@import 'src/constants/color.scss';

.card {
  position: relative;
  left: 60%;
  width: 30%;
  transform: translateY(45%);
}

.card-title {
  font-style: normal;
  font-weight: bold !important;
  font-size: 24px;
  line-height: 74px;
  /* identical to box height, or 308% */

  letter-spacing: 0.225px;
  text-transform: uppercase;

  color: $text;
}

.card-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  color: $primary;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited {
  background-color: $background !important;
  border-color: $background;
  border-radius: 5px;
  width: 65%;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15px;
  margin-bottom: 70px;

}

.card-text,
.card-text a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: $primary;
}

a:hover {
  color: $background;
}

.input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.15px;

  color: $primary;
}
