@import "src/constants/color.scss";

.onboarding {
  .card {
    left: 35%;
    align-items: center;
  }

  .card-title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: $color-onboarding-1;
  }

  .card-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: $color-onboarding-2;
  }
}

.test-kit {
  margin-top: 5%;
  margin-bottom: 2%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-transform: uppercase;

  color: $color-onboarding-1;
}

.tooltip.button-1 {
  color: black;
}

.btn {
  border-color: #bdbdbd !important;
}

.btn:focus {
  border-color: $color-background;
  border-width: 1px;

  .button-main-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: $color-background;
  }
}

.button-main-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: $color-onboarding-text;
}

.button-sub-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #8a8a8a;
}

.list-group-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #181818;
}
