.dropdowncontent{
  background: #FAFAFA;
  border: 1px solid #BDBDBD;
  padding:5% 10%;
  box-sizing: border-box;
  border-radius: 3px;
}

.greeninput{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #1EC491;
}

.whiteinput{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #33373C;
}