$color-text: #333333;
$color-background: #1ec491;
$color-primary: #535353;
$color-onboarding-1: #33373c;
$color-onboarding-2: #8c8c8c;
$color-onboarding-text: #4F4F4F;
$color-shade: #F2F2F2;
$color-image-overlay: #ffffff;
$color-alert: #EC1935;
