@import '../../constants/color.scss';

.text-center {
    text-align: center;
    align-items: center;
}

.text-normal {
    font-weight: normal !important;
}

.btn-text {
    background-color: transparent;
    border-color: transparent;
}

.prim-color {
    color: $color-background;
}

.prim-color:hover {
    color: $color-background;
    text-decoration: none !important;
}

.download-link {
    text-decoration: none !important;
}

.download-button {
    text-decoration: none !important;
    background: none !important;
    border: none !important;
    cursor: pointer;
}

#popover-basic .arrow{
    display: none;
}

.btn-full {
    width: 100% !important;
}

.empty-message {
    text-align: center !important;
    display: flex;
}

.empty-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: $color-background;
}